.timeContainer, .subjectContainer, .roomContainer{
        display: inline-flex;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
        }
        .timeContainer {
                flex-direction: column;
                justify-content: flex-start;
        }
        .subjectContainer{
                margin-left: 10px;
                width: 90%;
                align-items: center;
        }
        .roomContainer{
                margin-left: 10px;
                align-items: center;
        }
        .text{
                display: flex;
                text-wrap: wrap;
        }
        .elementBox{
                display: flex;
                margin: 5px;
        }