@import url(/src/styles/colors.css);
.LoginInput{
	width: 200px;
	padding: 8px;
	font-size: 16;
	border-bottom: 2px solid var(--ad-red1);
	border-radius: 5px;
	margin: 2px;
}
.LabelText{
        font-size: 20px;
        margin: 5px;
}