@import url('/src/styles/colors.css');
table {
       margin: 10px;
       border: 2px solid var(--ad-red3);
       padding: 0px;
       border-collapse: collapse;
}
.TCol {
        
        border: 2px solid var(--ad-border);
        width: 200px;
        height: 50px;
        padding: 5px;
        
        
}
.TRow {
        border: 2px solid var(--ad-border);
        
}
.Row1 {
        height: 75px;
        font-size: 18px;
        text-align: center;
        border: 3px solid var(--ad-border);
        

}

.Column1 {
        width: 75px;
        font-size: 24;
        text-align: center;
        border: 2px solid var(--ad-border);
}