
        .mainBackground {
        background-color: whitesmoke;
        margin: 0px;
        }
        .elementBox {
        display: flex;
        padding: 7px;
        font-size: 16;
        }
        .imageBox {
        display: inline-flex;
        vertical-align: central;
        }

        .text{
                display: flex;
        }
        .buttonBox{
                margin-left: 15px;
                width: 80%;
        }
        .dayButton{
                font-size: 20px;
                font-weight: bold 1;
                background-color: transparent;
                border: none;
                margin: 5px 10px;
        }
        * {
        margin: 0;
        padding: 0;
        color: darkblue;}