main {
        width: 100%;
        height: 95vh;
        display: flex;
        justify-content: center;
        
}

.LoginBox {
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        width: 460px;
        height: 100%;
        align-items: center;
        border-radius: 12px;
        padding: 10px;
        justify-content: center;
        align-content: center;
}
.Logo{
	background-color: white;
	width: 200px;
	height: 200px;
	margin: 20px 0 0 5px;
	border: 1px solid gray;
	border-radius: 18px;
}
* {
        margin: 0px;
        padding: 0px;
        font-family: 'Inter', sans-serif;
}