html {
        --ad-lightgray:#E9DFDE;
        --ad-red1:#E9262C;
        --ad-red2:#8C2425;
        --ad-red3:#490514;
        --ad-black:#1B0E17;
        --sc-button:#643B9F;
        --sc-background1:#F0F1F5;
        --ad-border:#B5999F;

        --rt-white: #ffffff;
        --rt-white-5: #f4f4f5;
        --rt-white-10: #e8e8ee;
        --rt-white-20: #d3d4db;
        --rt-white-40: #b5b7c0;
        --rt-main-text: #101828;
        --rt-shadow: rgba(28, 41, 61, .1);
       
    }

    .molchatBtn {
        --btn-height: 48px;
        --border-radius: 0;
        --current-color: var(--rt-orange);
        --current-color-rgb: var(--rt-orange-rgb);
        border-radius: 8px;
        /*добавлено*/
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--btn-height);
        padding: 0 24px;
        border: 2px solid transparent;
        font-size: 1rem;
        /*масштаб отноститьно главного шрифта*/
        line-height: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        white-space: nowrap;
        color: #fff;
        background-color: var(--current-color);
        margin: 5px;
    }