.JournalTable{
        border-collapse: separate;
        border-spacing: 0;
        border-top: 1px solid grey;

}
.TableRow{
        
}
.TableColumn{
        border: 2px solid #B5999F;
        padding: 5px;

}
.NameColumn{
        border: 2px solid #B5999F;
        position: absolute;
        width: 18em;
        left: 5em;
        border-top-width: 1px;
        background-color: #f4f4f5;
        white-space: break-spaces;
        padding: 5px;


}
.FirstColumn{
        border: 2px solid #B5999F;
        position: absolute;
        width: 5em;
        left: 5px;
        border-top-width: 1px;
        background-color: #f4f4f5;
        padding: 5px;

}
.FirstColumn, .NameColumn, .TableColumn{
        height: 50px;
}





.SubjectBox{
        border: 2px solid #490514;
        border-bottom: 4px solid #490514;
        margin: 5px 5px;
        padding: 12px 7px;
        border-radius: 6px;
        min-height: 70px;
        background-color: #f4f4f5;;
        width: 270px;
        text-wrap: wrap;
        word-break: break-all;
        font-size: 18px;

}
.SubjectBox1{
        margin: 6px 6px;
        padding: 5px;
        border-radius: 6px;
        height: 140px;
        width: 270px;
        text-wrap: wrap;

}

.NavigationBox{
        max-width: 200px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        border: 2px solid #490514;
        margin: 5px;
        padding: 10px;
        background-color: #F7F3F3;
        border-radius: 5px;
}
.TableBox{
        width: 85%;
        border: 2px solid #490514;
        margin: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: nowrap;
        background-color: #F7F3F3;
        border-radius: 5px;
        scrollbar-color: #490514;
        position: relative;
        padding: 5px;
}
.Main{
        display: flex;
        background-color: white;
        max-height: 90vh;
        color: #1B0E17;
        box-sizing: border-box;
        
}
.Header{
        align-self: flex-start;
        font-size: 22px;
        font-weight: 600;
        margin: 5px;
}
.FilterBox{
        display: flex;
        flex-direction: column;
        margin: 10px 0px 5px 0px;
        border-left: 2px solid #8C2425;
        border-radius: 5px;
        padding: 2px 5px;
        background-color: #F0EAE9;
        width: 100%;
}
.FilterBoxLabel{
        width: 120px;
        align-self: self-start;
        font-size: 22px;
        font-weight: 600;
        margin: 5px;
}