@import url(/src/styles/colors.css);
.LoginButton{
        width: 270px;
        font-size: 16px;
        font-weight: 300;
        margin: 5px 2px 2px 2px;
        background-color: var(--sc-button);
        color: white;
        border: none;
        border-radius: 5px;
        height: 40px;
        align-items: center;
        justify-content: center;
}
