.buttonBox{
        margin-left: 15px;
        width: 80%;
}
.dayButton{
        font-size: 20px;
        font-weight: bold 1;
        background-color: transparent;
        border: none;
        margin: 5px 10px;
}