
        .dayBox {
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 10px;
                font-family: sans-serif;
                margin: 8px 12px 5px 5px;
                padding: 5px;

        }
        .text{
                display: flex;
        }
        * {
                font-size: 16px;
        }