.text{
        display: flex;
        text-wrap: wrap;
        font-weight: 500;
        font-size: 18px;
}
.elementBox{
        display: flex;
        margin: 5px;
}
.subjectContainer{
        margin: 0px 5px 0px 5px;
        width: 100%;
        display: flex;
        padding: 10px;
        border: 2px solid lightgray;
        border-radius: 5px;
}