@import url('/src/styles/colors.css');

        .subjectContainer, .roomContainer{
        display: inline-flex;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
        }
        .timeContainer {
                flex-direction: column;
                justify-content: flex-start;
                border-right: 1px solid #371F76;
                padding: 5px;
        }
        .subjectContainer{
                margin-left: 10px;
                width: 80%;
                align-items: center;
                text-align: center;
        }
        .roomContainer{
                margin-left: 10px;
                align-items: center;
        }
        .text{
                display: flex;
                text-wrap: wrap;
        }
        .elementBox{
                display: flex;
                margin: 5px;
        }
        .Subject{
                border: 1px solid var(--ad-border);
                padding: 12px;
                width: 100%;
        }
        .Font{
                font-size: 32px;
        }
        .tableDefContainer{border: 1px solid var(--ad-border);
                padding: 12px;
                width: 100%;
                word-break: break-word;
                white-space: break-spaces;
        }